VITE_FIREBASE_API_KEY = "AIzaSyAwIJFRxYtzskRTc10tQWm05_5OzYDl_Ec"
VITE_FIREBASE_AUTH_DOMAIN = "coastal-vertex-vmvz5.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "coastal-vertex-vmvz5"
VITE_FIREBASE_STORAGE_BUCKET = "coastal-vertex-vmvz5.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "462126042693"
VITE_FIREBASE_APP_ID = "1:462126042693:web:a36ba6260d0699a5ad1d2c
